
.manager-layer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 400px;
    background-color:rgba(128, 128, 128, 0.95);
    z-index: 1;
}

.manager-layer-close-button {
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    background-color: black;
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 50px;

}
.manager-layer-close-button:hover {
    cursor: pointer;
}

.manager-layer-list {
    text-align: center;
    background-color: orangered;
    overflow:scroll;
    padding-top: 30px;
    padding-bottom:30px;
    height: 260px;
    width: 100%;
}
.manager-item-root {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 60px;
    background-color: magenta;
    margin-top: 3px;
    margin-bottom: 3px;
}
.manager-item-name {
    font-size: 15pt;
    font-weight: bold;
    font-style: italic;
    line-height: 21px;
}

.manager-item-description {
    font-size: 10pt;
    line-height: 18px;
}

.manager-item-cost {
    line-height: 16px;
}
.manager-item-hire-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: skyblue;
    border-radius: 5px;
}