.player {
  display: inline-block;
  background-color: #eeee00;
  display: inline-block;
  width: 90%;
  height: 50px;
  padding-left: 20px;
  margin: 10px;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
}